DATABASE_URL="postgresql://neondb_owner:npg_mwvsp0AXBaF6@ep-divine-math-aydho7qc-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3000
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=kwakopos-super-secret-jwt-key-change-in-production-min32chars
